body {
  background-color: rgb(38, 38, 61);
}


.stuff {
  display: flex;    
  width:100%;
  justify-content: center;
  flex-direction: row;
  background-color: transparent;
  /* background-color: tomato; */
}

h1 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: white;
}

div {
  float: left;
  font-family: 'Roboto', sans-serif;
}
.canvas {
  width: 600px;
}

canvas {
  border-radius: 10px;
}

.chat {
  border-radius: 10px;
  height: 530px;
  width: 290px;
  background-color: rgb(46, 63, 105);
  /* background-color: turquoise; */

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chat .chat-header {
  text-align: center;
  font-size: 20px;
  color: white;
  height: 30px;
  margin-top: 10px;
  background-color: transparent;
  /* background-color: violet; */
}

.chat .messages { 
  height: 440px;
  width: 255px;
  margin-left: 20px;
  
  color: white;
  overflow-y: auto;
  background-color: transparent;
  /* background-color: tomato; */
  
}

/* scroll bar things  */
::-webkit-scrollbar {
  width: 10px;
  height: 440px;
}
::-webkit-scrollbar-track {
  background: transparent; 
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: white; 
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(194, 194, 194); 
}

.chat .chat-bottom {
  height: 50px;
  width: 100%;
  margin-bottom: 10px;
  
  background-color: transparent;
  /* background-color: rgb(47, 161, 66); */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.chat-bottom .msg-input {
  height: 35px;
  width: 200px;
  margin-right: 5px;

  font-size: 15px;  
  vertical-align: center;
  background-color: rgb(38, 38, 61);
  border: 0px;
  border-radius: 5px;
  color: white;
  padding-left: 8px;
}

.chat-bottom .send {
  height: 37px;
  width: 55px;
  padding: 0px;

  font-size: 15px;
  background-color: rgb(93, 93, 199);
  border: 0px;
  border-radius: 5px;
  color:white;
}

.chat-bottom .msg-input:hover {  
  outline: none;
}

.chat-bottom .msg-input:focus {  
  outline: none;
}

.chat-bottom .send:hover {
  background-color: rgb(72, 72, 136);
  outline: none;
}

.chat-bottom .send:focus {  
  outline: none;
}
::placeholder { 
  color: rgb(160, 160, 160);
  opacity: 1;
}



@media (orientation: portrait), (max-width: 900px) {
  .stuff {
    display: flex;    
    width:100%;
    flex-direction: column;
    align-items: center;
    /* background-color: tomato; */
  }

  .chat {
    height: 450px;
    width: 600px;
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .chat .messages { 
    font-size: 20px;
    width: 580px;
    margin-left: 20px;        
  }

  .chat .chat-bottom {    
    height: 60px;
    margin-bottom: 10px;  
  }

  .chat-bottom .msg-input {
    font-size: 20px;
    width: 490px;
    margin-right: 5px;
      
  }
  
  .chat-bottom .send {
    font-size: 20px;
    width: 80px;
    
    color:white;
  }
}